.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #fff;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.container {
    height: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

#vid {
    position: relative;
    width: 90%;
    max-width: 2400px;
    height: 724px;
    border: 1px solid #aaa;
    background-color: black;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
}

.search-container {
    margin-top: 20px;
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    margin-left: 1rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.search-button {
    background-color: #ff0000;
    color: #fff;
}

.reset-button {
    background-color: #888888;
    color: #fff;
}

.search-button:hover {
    background-color: #cc0000;
}

.button:hover {
    opacity: 0.9;
}

.video-control-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.video-control-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6/1;
    z-index: -1;
    pointer-events: none;
}

#vid:hover .video-control-container,
#vid:focus-within .video-control-container,
#vid.paused .video-control-container {
    opacity: 1;
}

.video-control-container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.video-control-container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

.video-control-container .controls button:hover {
    opacity: 1;
}

#vid.paused .pause-icon {
    display: none;
}

#vid:not(.paused) .play-icon {
    display: none;
}

#vid.theater,
#vid.full-screen {
    max-width: initial;
    width: 100%;
    max-height: 90vh;
}

#vid.theater {
    max-height: 90vh;
}

#vid.full-screen {
    max-height: 100vh;
}

#vid.theater .tall {
    display: none;
}

#vid:not(.theater) .wide {
    display: none;
}

#vid.full-screen .open {
    display: none;
}

#vid:not(.full-screen) .close {
    display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
    display: none;
}

#vid[data-volume-level="high"] .volume-high-icon {
    display: block;
}

#vid[data-volume-level="low"] .volume-low-icon {
    display: block;
}

#vid[data-volume-level="muted"] .volume-muted-icon {
    display: block;
}

.volume-slider {
    width: 0px;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
    width: 100px;
    transform: scaleX(1);
}

.duration-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
}